/* css of product */

.card{

  width: auto;


}
.card:hover img{
  transform: scale(1.2,1.2);
  -webkit-transform: scale(1.2,1.2);
  -moz-transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2);
  -o-transform: scale(1.2,1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 0.5;
}
.card img{
  transform: scale(1,1);
  -webkit-transform: scale(1,1);
  -moz-transform: scale(1,1);
  -ms-transform: scale(1,1);
  -o-transform: scale(1,1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}
.card-wrapper-img{
  height: 300px;
  width: 350px;
  overflow: hidden;
}
.card-body{
  margin: 5px;
}


.brand{
  font-family: cursive;
}
.price
{
  font-family: 'Courier New', Courier, monospace;
  color: grey;
}
.error-block{
  color: red;
  font-size: x-large;
}
.md-avatar{
  height: 40px;
  width: 45px;
  /* border-radius: 50%; */

}
.tab-panel{
  border: 1px solid #ddd ;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 1em;
  max-height: 37.5em;
  background-color: white;
}
