<div class="row shadow-lg">
  <div class="col-sm-6">
    <div class="card-top p-0">
      <div class="card-img-wrapper">
        <img *ngIf="!product.image"  class="card-img-top p-10" src='.../../../../../../assets/images/product/default.png'>
        <img *ngIf="product.image" class="card-img-top p-10" src='.../../../../../../assets/images/product/{{product.image}}'>
      </div>
    </div>

  </div>
  <div class="col-sm-6 shadow-lg">
<div class="card">
  <diV class="card-body">
   <div class="tab shadow-lg">
     <ul>
       <div class="Basicinfo ">
        <li> <h1 class="product-name" >{{product.name}} </h1></li>
        <li> <h2 class="product-brand">{{product.brand}}</h2></li>
       </div>
      <div class="priceInfo ">
        <li> <h1>{{product.color}}</h1></li>
        <li><h1>{{product.size}}</h1></li>
        <li  ><h3 class="product-price">RS.{{product.price}}</h3></li>
      </div>

<div class="DetialsIndo shadow-lg">
  <li *ngIf="product.description">  <h1>{{product.description}}</h1></li>
</div>

     </ul>






   </div>
   </diV>
   <div class="card-footer">
   <div class="btn-group d-flex m-lg-3" role="group" aria-label="Basic example" >
    <button mdbBtn type="button" color="success" class="waves-light" mdbWavesEffect>Like</button>
    <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>Message</button>

</div>
</div>

   </div>
  </div>
</div>
