<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th>Type</th>
      <th scope="col">Brand</th>
      <th scope="col">Color</th>
      <th scope="col">Size</th>
      <th scope="col">Price</th>
      <th scope="col">PostBy</th>
      <th scope="col">PostDate</th>
      <th scope="col">Image</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>


    <tr  *ngFor="let product of products">
      <th scope="row">{{product.id}}</th>
      <td>{{product.name}}</td>
      <td>{{product.type}}</td>
      <td>{{product.brand}}</td>
      <td>{{product.color}}</td>
      <td>{{product.size}}</td>
      <td>{{product.price}}</td>
      <td>{{product.postby}}</td>
      <td>{{product.postdate|date}}</td>
      <td><img src="./../../../assets/images/product/{{product.image}}"></td>
      <td>{{product.description}}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-success" routerLink="/edit-product/{{product.id}}"><mdb-icon fas icon="edit"></mdb-icon></button>
          <button class="btn btn-danger" (click)="deleteProduct(product.id)"><mdb-icon fas icon="trash-alt"></mdb-icon></button>
        </div>
      </td>
    </tr>

  </tbody>
</table>

