/* .card{

  width: auto;


}
.card-body{
  margin-left: 5px;
}

.card-img{
  height: 250px;
  width: 300px;
}
.brand{
  font-family: cursive;
}
.price
{
  font-family: 'Courier New', Courier, monospace;
  color: grey;
} */
