<div class="search">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2"  [(ngModel)]='name' [ngModelOptions]="{standalone: true}">
    <button class="btn btn-outline-success my-2 my-sm-0"(click)="onSearch()" type="submit"><mdb-icon fas icon="search"></mdb-icon> </button>
    <button class="btn btn-outline-danger m-2 " (click)="onClearSearch()" type="reset">Clear </button>

  </form>

</div>


<div class="row">
  <div *ngFor="let Allproducts of products|filter:searchByName:'name'" class="shadow-lg col-sm-4 p-2">

        <app-product [product]="Allproducts"></app-product>
      </div>

    </div>


