/* .card-body{
  margin-top: 5em;
} */
.card{
  width:30em;
  margin-left: 22em;
}
.card-header h2{
  text-align: center;
  color: white;
  font-size: xx-large;
  font-weight: bold;
}
.form-group{
  margin-top: 1em;
}
.btn-group >button[ng-reflect-btn-radio]{
  border: 1px red solid;
  border-radius:44px !important;
  padding: 0 15px !important;
  line-height: 30px !important;
}

